<h2>Create New Pokemon</h2>

<form action="/pokemons/new" method="post" >
  <label>Name:</label>
  <input name="pokemon[name]">

  <label>cp:</label>
  <input name="pokemon[cp]">

  <label>poke_type:</label>
  <input name="pokemon[poke_type]">

  <label>img_url:</label>
  <input name="pokemon[img_url]">

  <input type="submit" value="Create">
</form>

<div>
<h1><a href="/pokemons/index">Back to Pokemons</a></h1>
</div>
